@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@200&display=swap');

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 6rem 6rem 6rem;
  min-height: 100vh;
}

.header {
  background-color: var(--creme);
}

.navbar {
  width: 50%;
  margin: auto;
  font-family: var(--font-title);
  font-size: 1.25em;
  color: var(--tan);
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    margin: 2rem;
  }

  a:hover {
    color: var(--dark-creme);
  }
}

.brackets {
  width: 5rem;
  display: block;
  margin: auto;
  padding-top: 2rem;
}

.picture {
  width: 20rem;
}


.title {
  padding-top: 10rem;
}

.subtitle {
  padding-top: 1rem;
}

.description {
  padding-top: 1rem;
  font-size: 1.25rem;
  max-width: 50vw;
}

.footer {
  background-color: var(--creme);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.socialLinks {
  display: flex;
  padding: 2rem;
  align-items: center;
}

.socials {
  width: 20px;
  margin-right: .5rem;
}

.page_titles {
  padding-top: 5rem;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  div {
    padding: 5rem;
  }
}

.about_pic {
  width: 22rem;
  height: 22rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.about {
  display: flex;
  width: var(--max-width);
  justify-content: space-around;
  padding-top: 3rem;

  p {
    width: 50%;
    font-size: 1.1rem;
  }
}

.contact {
  padding-top: 3rem;
  display: flex;
  width: var(--max-width);
  justify-content: space-evenly;

  div {
    padding-top: 3rem;
    width: 30%;
  }
}

.email {
  display: flex;
  flex-direction: column;

  input {
    padding: .5rem;
    width: 22rem;
  }
  
  label {
    margin: 1rem 0;
  }

  textarea {
    min-height: 10rem;
  }

  button {
    background-color: var(--creme);
    border: 1px solid var(--tan);
    color: var(--tan);
    font-family: var(--font-title);
    font-size: 1rem;
    border-radius: 3px;
    align-self: center;
    width: 6rem;
    padding: 1rem;
    margin: 2rem 0;
  }
  
  button:hover {
    background-color: var(--tan);
    color: var(--creme);
    border: none;
  }
}