@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@200&display=swap');

.main {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  padding: 0rem 6rem 6rem 6rem;
  min-height: 100vh;
}

.header {
  background-color: var(--dark-grey);
  width: var(--max-width);
  margin: auto;
  border-radius: 0 0 500px 500px;
}

.navbar {
  width: 50%;
  margin: auto;
  font-family: var(--font-title);
  font-size: 1.25em;
  color: var(--creme);
  background-color: var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    margin: 2rem;
  }

  a:hover {
    color: var(--dark-creme);
  }
}

.brackets {
  width: 5rem;
  display: block;
  margin: auto;
  padding-top: 2rem;
}

.picture {
  width: 20rem;
}


.title {
  padding-top: 10rem;
}

.subtitle {
  padding-top: 1rem;
}

.description {
  padding-top: 1rem;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1.25rem;
  max-width: 50vw;
  width: 100%;
  z-index: 2;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.socialLinks {
  display: flex;
  padding: 2rem;
  align-items: center;
}

.socials {
  width: 20px;
  margin-right: .5rem;
}

.page_titles {
  padding-top: 5rem;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  div {
    padding: 5rem;
  }
}

.project_png {
  width: 15rem;
}